.header {
  display: flex;
  margin-bottom: 20px;

  .left {
    flex: 1;
  }

  .right {
    display: flex;
    text-align: right;
  }
}

.content {
  margin-bottom: 20px;
}

.footer {
  text-align: center;
}

//临时的
body {
  background-color: #f1f1f1;
}