.search-container {
  .ant-input-search {
    width: 300px;
    
    .ant-input {
      border-radius: 4px 0 0 4px;
    }
    
    .ant-input-search-button {
      border-radius: 0 4px 4px 0;
      border-left: none;
    }
  }
}